h1 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
 } 
 
 h1 span { 
     background:#fff; 
     padding:0 10px; 
 }

 .qr-upi {
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
 }
