<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="pb-10" (click)="closeModal()">
    <ion-title size="large"> {{ 'Settings' | translate }} </ion-title>
    <ion-icon
      slot="end"
      class="fz-35 mr-10"
      name="close-circle-outline"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="m-15" *ngIf="settingsForm">
    <form [formGroup]="settingsForm" (ngSubmit)="onSettingFormSubmit()">
      <ion-item>
        <ion-label position="fixed">{{ 'Savings' | translate }}</ion-label>
        <ion-input
          formControlName="saving"
          pkNumeric
          decimals="2"
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
        ></ion-input>
        <span>%</span>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">GST</ion-label>
        <ion-input
          formControlName="gst"
          pkNumeric
          decimals="2"
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
        ></ion-input>
        <span>%</span>
      </ion-item>

      <ion-button
        type="submit"
        class="mt-20"
        shape="round"
        fill="outline"
        expand="block"
        size="large"
        color="primary"
      >
        {{ 'Save' | translate }}
      </ion-button>
    </form>
  </div>
</ion-content>
