@use 'sass:math';
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$color-danger: #eb445a;
$color-primary: #3880ff;
$color-tertiary: #5260ff;
$color-secondary: #3dc2ff;
$color-white: white;
$color-warning: #ffd534;

:root {
  ion-input,
  ion-label,
  ion-button,
  ion-title {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    font-size: 1.1rem !important;
  }
}

.color-white {
  color: $color-white;
}

.color-danger {
  color: $color-danger;
}

.color-warning {
  color: $color-warning;
}

.item-inner {
  border-bottom-width: 0px !important;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.bg-white {
  background-color: $color-white;
}

@for $fz from 1 through 20 {
  .fz-#{(math.div($fz * 10, 2))} {
    font-size: math.div($fz * 10px, 2)
  }
}

@for $m from 1 through 20 {
  .m-#{(math.div($m * 10, 2))} {
    margin: math.div($m * 10px, 2)
  }
}

@for $p from 1 through 20 {
  .p-#{(math.div($p * 10, 2))} {
    padding: math.div($p * 10px, 2)
  }
}

@for $mt from 1 through 20 {
  .mt-#{(math.div($mt * 10, 2))} {
    margin-top: math.div($mt * 10px, 2)
  }
}

@for $mr from 1 through 20 {
  .mr-#{(math.div($mr * 10, 2))} {
    margin-right: math.div($mr * 10px, 2)
  }
}

@for $mb from 1 through 20 {
  .mb-#{(math.div($mb * 10, 2))} {
    margin-bottom: math.div($mb * 10px, 2)
  }
}

@for $ml from 1 through 20 {
  .ml-#{(math.div($ml * 10, 2))} {
    margin-left:math.div($ml * 10px, 2)
  }
}

@for $pt from 1 through 20 {
  .pt-#{(math.div($pt * 10, 2))} {
    padding-top: math.div($pt * 10px, 2)
  }
}

@for $pr from 1 through 20 {
  .pr-#{(math.div($pr * 10, 2))} {
    padding-right: math.div($pr * 10px, 2)
  }
}

@for $pb from 1 through 20 {
  .pb-#{(math.div($pb * 10, 2))} {
    padding-bottom: math.div($pb * 10px, 2)
  }
}

@for $pl from 1 through 20 {
  .pl-#{(math.div($pl * 10, 2))} {
    padding-left: math.div($pl * 10px, 2)
  }
}

.error-label {
  color: $color-danger !important;
}
.err-text {
  font-size: 12px;
  color: $color-danger;
  margin: 10px;
}
