<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="">
    <ion-title class="pt-10 pb-10" size="large">
      Sell Price Calculator
    </ion-title>

    <ion-icon
      (click)="openSettingsModal()"
      class="fz-35 color-white mr-5"
      name="cog-outline"
      slot="end"
    ></ion-icon>

    <ion-icon
      class="fz-35 color-white mr-5"
      (click)="changeLanguage()"
      slot="end"
      name="language-outline"
    ></ion-icon>

    <!-- <div class="flex justify-end"> 
    <ion-buttons left>
      <button
        ion-button
        icon-only
        clear
        item-right
        (click)="openSettingsModal()"
      >
        <ion-icon class="fz-35 color-white" name="cog-outline"></ion-icon>
      </button>

      <button ion-button icon-only clear item-right (click)="changeLanguage()">
        <ion-icon class="fz-35 color-white" name="language-outline"></ion-icon>
      </button>
    </ion-buttons>
   </div> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="calculation-container">
    <div class="flex justify-around">
      <ion-card class="border-top-secondary" (click)="openSettingsModal()">
        <ion-card-header>
          <ion-label
            >{{ 'Savings' | translate }}: {{this.savingPercent}} %</ion-label
          >
        </ion-card-header>

        <ion-card-content>
          <div class="flex justify-end">
            <ion-label>{{this.currency}} {{calcSaving.toFixed(2)}} </ion-label>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="border-top-secondary" (click)="openSettingsModal()">
        <ion-card-header>
          <ion-label>TAX : {{this.gstPercent}} %</ion-label>
        </ion-card-header>

        <ion-card-content>
          <div class="flex justify-end">
            <ion-label>{{this.currency}} {{calcGST.toFixed(2)}}</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="flex justify-around">
      <ion-card
        class="border-top-secondary"
        [color]="isValid ?  'primary' : 'danger'"
      >
        <ion-card-header>
          <ion-label
            >{{ 'Selling Price' | translate }}: {{this.currency}}
            {{sellingPrice.toFixed(2)}}</ion-label
          >
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <div class="m-5 p-5" *ngIf="calcForm">
    <div>
      <form [formGroup]="calcForm">
        <ion-item color="light">
          <ion-label color="primary" position="floating"
            >{{'Buy Price' | translate}}</ion-label
          >
          <ion-input
            formControlName="buy_price"
            pkNumeric
            decimals="2"
            type="number"
            inputmode="numeric"
            (click)="sharedService.onClickInputClear('buy_price', this.calcForm)"
            autofocus
          ></ion-input>
        </ion-item>
        <div class="flex mt-10">
          <div>
            <ion-item class="mr-5" color="light">
              <ion-label position="floating" color="primary"
                >{{'Transport' | translate}}</ion-label
              >
              <ion-input
                formControlName="transport"
                pkNumeric
                decimals="2"
                type="number"
                inputmode="numeric"
                (click)="sharedService.onClickInputClear('transport', this.calcForm)"
              ></ion-input>
            </ion-item>
            <ion-note class="ml-5" color="primary">
              {{'Total' | translate}}: {{this.totalWithTransport.toFixed(2)}}
            </ion-note>
          </div>

          <div>
            <ion-item class="ml-5" color="light">
              <ion-label position="floating" color="primary"
                >{{'Insurance' | translate}}</ion-label
              >
              <ion-input
                formControlName="insurance"
                pkNumeric
                decimals="2"
                type="number"
                inputmode="numeric"
                (click)="sharedService.onClickInputClear('insurance', this.calcForm)"
              ></ion-input>
            </ion-item>
            <ion-note class="ml-5" color="primary">
              {{'Total' | translate}}: {{this.totalPrice.toFixed(2)}}
            </ion-note>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="mt-10 p-10 flex">
    <p class="color-danger" *ngIf="!savingPercent && !gstPercent">
      {{'saving_tax_warning' | translate}}
    </p>
  </div>
</ion-content>
