<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="">
    <ion-title class="pt-10 pb-10" size="large">
      Sell Price Calculator
    </ion-title>

    <ion-icon
      (click)="openSettingsModal()"
      class="fz-35 color-white mr-5"
      name="cog-outline"
      slot="end"
    ></ion-icon>

    <ion-icon
      class="fz-35 color-white mr-5"
      (click)="changeLanguage()"
      slot="end"
      name="language-outline"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex justify-between m-10" *ngIf="sellingPrice > 0">
    <div *ngFor="let chartLabelColor of this.chartLabelColors">
      <div class="flex flex-column justify-center items-center">
        <div
          class="color-indicator"
          [ngStyle]="{'background-color':chartLabelColor.color}"
        ></div>
        <div>{{chartLabelColor.label | translate}}</div>
      </div>
    </div>
  </div>
  <div class="calculation-container">
    <div class="flex justify-center flex-column">
      <ion-card (click)="openSettingsModal()">
        <div class="p-5">
          <ion-label
            >{{ 'Savings' | translate }}: {{this.savingPercent}} %</ion-label
          >
        </div>

        <div class="p-5">
          <div class="flex justify-end">
            <ion-label>{{this.currency}} {{calcSaving.toFixed(2)}} </ion-label>
          </div>
        </div>
      </ion-card>

      <ion-card (click)="openSettingsModal()">
        <div class="p-5">
          <ion-label>{{'Tax' | translate}} : {{this.gstPercent}} %</ion-label>
        </div>

        <div class="p-5">
          <div class="flex justify-end">
            <ion-label>{{this.currency}} {{calcGST.toFixed(2)}}</ion-label>
          </div>
        </div>
      </ion-card>
      <ion-card class="sell-indicator">
        <div class="p-5">
          <ion-label class="color-white"
            >{{ 'Selling Price' | translate }}</ion-label
          >
        </div>

        <div class="p-5">
          <div class="flex justify-end">
            <ion-label class="color-white"
              >{{this.currency}} {{sellingPrice.toFixed(2)}}</ion-label
            >
          </div>
        </div>
      </ion-card>
    </div>
    <div class="flex justify-center flex-column">
      <div *ngIf="sellingPrice > 0">
        <canvas
          width="20"
          height="20"
          baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [options]="doughnutChartOptions"
          [colors]="doughnutChartColors"
        >
        </canvas>
      </div>
      <div *ngIf="sellingPrice === 0">
        <canvas
          width="20"
          height="20"
          baseChart
          [data]="doughutChartDisableValue"
          [labels]=""
          [chartType]="doughnutChartType"
          [options]="doughutChartDisableOption"
          [colors]="doughnutDisableChartColors"
        >
        </canvas>
      </div>
    </div>
  </div>

  <div class="m-5 p-5" *ngIf="calcForm">
    <div>
      <form [formGroup]="calcForm">
        <ion-item color="light">
          <ion-label color="primary" position="floating"
            >{{'Buy Price' | translate}}</ion-label
          >
          <ion-input
            formControlName="buy_price"
            pkNumeric
            decimals="2"
            type="number"
            inputmode="numeric"
            (click)="sharedService.onClickInputClear('buy_price', this.calcForm)"
            id="buy_price"
            autofocus
          ></ion-input>
        </ion-item>
        <div class="flex mt-10">
          <div>
            <ion-item class="mr-5" color="light">
              <ion-label position="floating" color="primary"
                >{{'Transport' | translate}}</ion-label
              >
              <ion-input
                formControlName="transport"
                pkNumeric
                decimals="2"
                type="number"
                id="transport"
                inputmode="numeric"
                (click)="sharedService.onClickInputClear('transport', this.calcForm)"
              ></ion-input>
            </ion-item>
            <ion-note class="ml-5" color="primary">
              {{'Total' | translate}}: {{this.totalWithTransport.toFixed(2)}}
            </ion-note>
          </div>

          <div>
            <ion-item class="ml-5" color="light">
              <ion-label position="floating" color="primary"
                >{{'Insurance' | translate}}</ion-label
              >
              <ion-input
                formControlName="insurance"
                pkNumeric
                decimals="2"
                type="number"
                id="insurance"
                inputmode="numeric"
                (click)="sharedService.onClickInputClear('insurance', this.calcForm)"
              ></ion-input>
            </ion-item>
            <ion-note class="ml-5" color="primary">
              {{'Total' | translate}}: {{this.totalPrice.toFixed(2)}}
            </ion-note>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="mt-10 p-10 flex">
    <p class="color-danger" *ngIf="!savingPercent && !gstPercent">
      {{'saving_tax_warning' | translate}}
    </p>
  </div>
</ion-content>
