.calculation-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cost-indicator {
  background-color: #0091ea;
}

.sell-indicator {
  background-color: #2962ff;
}

.color-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
